@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* 
font-family: 'Roboto', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Roboto', sans-serif; padding-top: 81px;}

header {
    background: #3F51B5;
    margin: 0;
 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   
}
header h3 {
    color: white;
    font-weight: 100;
    padding: 25px;
    font-weight: 500;
    
}
header i {
    margin-right: 5px;
    margin-left: 10px;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    width: 32.33%;
    height: 390px;
    /* padding: 20px; */
    margin: 5px;
    border: 2px solid;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px;
}
.heading h1 {
    font-weight: 300;
    font-size: 55px;
    color: black;
    margin-bottom: 40px;
}
.heading span {
    display: block;
}
.heading {
    text-align: center;
}
.heading a {
    text-decoration: none;
    background: #3F51B5;
    color: white;
    padding: 9px 17px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.img-full{max-width: 100%; }     
.product-card button{padding: 6px;}
.blue{background-color: #3F51B5; color: #fff;}
.grey{background-color: #E0E0E0; color: grey;}
.pink{background-color: #F50057; color: #fff;}

.img-full {
    /* max-width: 100%; */
    height: 42vh;
}

.product-card img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.cart-block {
    position: absolute;
    right: 50px;
    top: 23px;
    right: 100px;
}

.cart-block .fas.fa-shopping-cart {font-size: 30px;}
.cart-block .number {color: white;background: #808080;border: 2px solid;text-align: center;border-radius: 100%;font-size: 15px;width: 25px;height:25px;display: flex;align-items: center;justify-content: center;font-weight: bold;position: absolute;top: -4px;right: -15px;}


.product-card .details {
    margin-left: 15px;
    margin-top: 10px;
}

.product-card .details p {
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-card button {
    padding: 6px 22px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}

button.blue {
    margin-left: 7px;
}
.product-card .details h2 {
    font-size: 25px;
    font-weight: 400;
}

.inner-content {
    display: flex;
    margin-left: 15px;
}
.popup-innner {
    border: 1px solid;
    width: 45%;
    height: 235px;
    background: white;
    border: none;
    border-radius: 5px;
}



.popup-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: #7D7D7D;
}
.popup-innner h4 {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.left-div p {
    color: grey;
    margin-bottom: 15px;
}
.left-div span {width: 50%;}

.right-div {
   
    margin-left: 108px;
}

.left-div {
    width: 50%;
}

.left-div span {
    margin-left: 45%;
}
.inner-btn button {width: 60px;margin-bottom: 3px;height: 32px;border-radius: 5px;border: none;color: white;}


button.plus-btn {
    background: #3F51B5;
}

button.minus-btn {
    background: #F50057;
}
.outr {
    float: right;
    margin-top: 32px;
    margin-right: 15px;
}

button.checkout-btn {
    border: none;
    background: #3F51B5;
    color: white;
    width: 155px;
    height: 34px;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

button.cancle-btn {
    border: none;
    background: none;
    color: #3F51B5;
    font-weight: bold;
    text-transform: uppercase;
}
.check-inner {
    width: 60%;
    height: 120px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px grey;
}

.check-main {
    background: #FAFAFA;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.check-inner h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
}

.check-inner p {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 3px;
}